@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet {
  background: #cbd5e1; /* gray-300 */
  opacity: 1;
  width: 8px;
  height: 8px;
}

.swiper-pagination-bullet-active {
  background: #2563eb; /* blue-600 */
}
